/* variables for colour scheme affecting html element in place of :root */

/* light mode */
[data-theme="light"] {
    --background-color-main: lightgrey;
    --background-color-secondary: black;
    --text-color-main: black;
    --text-color-secondary: white;
}

/* dark mode */
[data-theme="dark"] {
    --background-color-main: black;
    --background-color-secondary: lightgrey;
    --text-color-main: white;
    --text-color-secondary: black;
}

/* set 1rem to 10px to easily find values for the rest of the page (ie. 1.5rem is 15px, 2.0rem is 20px, etc.) */
html {
    font-size: 62.5%;
}

/* settings for the entire document (1 step below root/html) */
* {
    padding: 0;
    margin: 0;
}

/* Other settings for the whole document */
body {
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-color-main);
    background-color: var(--background-color-main);
}

/* base/universal h values */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color-main);
    font-weight: 700;
}

/* specific text values */
h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
}

header {
    border-bottom: 1rem var(--background-color-secondary) double;
    height: 10rem;
}

/* dark mode button */
#toggle {
    background-color: var(--background-color-main);
    font-size: 4rem;
    padding: 0 2.5rem;
    border: none;
}

/* form button on index.html & back button on blog.html */
#button {
    color: var(--text-color-secondary);
}

/* consider adding the footer from blog.html to the form page in the future
if so the height here will need to be adjusted to vh and the header / body vh on form.css will need adjusting accordingly */
footer {
    border-top: 1rem var(--background-color-secondary) double;
    height: 10rem;
}

#footertag {
    font-size: 2rem;
    text-align: center;
}

/* styling for character images in footer */
#UTF-8style {
    font-size: 3rem;
}

#contactlinks {
    padding: 0 0 1.5rem 2rem;
}

#contactlinks li {
    font-style: italic;
    font-size: 2rem;
    font-weight: 700;
    list-style-type: none;
}

#externallink {
    font-weight: 400;
    color: var(--text-color-main);
    text-decoration: none;
}